--extra-index-url https://download.pytorch.org/whl/cpu
flask>=3.0.3
ultralytics>=8.2.18
torch==2.6.0+cpu
torchvision==0.21.0+cpu
opencv-python-headless
Pillow>=11.0.0
numpy>=2.1.0
requests
python-multipart
gunicorn>=20.1.0
pyyaml
mlflow
gdown

redis>=5.0.0
rq>=1.16.2
boto3>=1.34.0
flask-limiter>=3.8.0
